        :root{
            --start-size: 20px;
            --start-color: yellow;
            --link-border: 2px dashed white;
        }
        body{
            height: 100vh;
            background-image: url("/img/SLBackground.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        div, address{
            position: absolute;
        }

        #Navbar{
            visibility:hidden;
        }
        #Navbar li{
            border-radius: 10px;
        }

        table{
            font-size: 12pt;
            border: 1px solid black;
            padding: 2px;
            vertical-align: middle;
            empty-cells: hide;
            border-collapse: collapse;
            table-layout: fixed;
            width: auto;
            height: auto;
        }

        tr{
            height: 10px;
        }
        tr:nth-child(even){
            background-color: #3c5369;
        }
        
        td[rowspan]{
            overflow: hidden;
            line-height: 15px;
        }

        th{
            overflow: hidden;
            height: 20px;
            border: 1px solid black;
        }

        a{
            text-decoration: none;
            font-style: normal;
            border: var(--link-border)
        }

        a:hover{
            font-size: var(--start-size);
            color: var(--start-color);
        }

        ul, ol{
            color: hsl(69, 91%, 9%);
            font-weight: 100;
            list-style-image: url("/img/pearl.png");
        }


        p{
            line-height: 20px;
            text-align: center;
            color: hsl(69, 91%, 9%);
            font-family: "Lora", serif;
            font-weight: 100;
            font-style: normal;
        }

        p::first-letter{
            font-size: var(--start-size);
            color: var(--start-color)
        }

        h1{
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            text-shadow: 2px 1px 1px hsl(258, 33%, 14%);
            padding: 1rem 2rem;
            border-radius: 15px;
            width: 290px;
            height: 55px;
            background-image: linear-gradient(45deg, hsl(212, 28%, 40%), hsl(295, 24%, 48%));
            filter: drop-shadow(5px 5px 5px hsl(258, 58%, 65%));
            transition: transform 0.3s ease-in-out, rotate 1s ease;
        }
        h1:hover{
            transform: rotateX(-20deg);
        }


        .quarter {
            border-collapse: collapse;
        }

        #Introduction{
            left: 5vw;
            top: 5vh;
        }
        #Assignments{
            left: 75vw;
            top: 5vh;
        }

        #Portfolio{
            left: 5vw;
            top: 80vh;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }
        #Portfolio > p{
            box-shadow: 2px 2px 1px black;
        }

        #Schedule{
            left: 75vw;
            top: 80vh;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }

        #ContactInfo{
            left: 40vw;
            top: 0vh;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }

        #Assignments h1, #Portfolio h1{
            rotate: -20deg;
        }
        #Schedule h1, #Introduction h1{
            rotate: 20deg;
        }

        .content{
            pointer-events: none;
        }

        .hover-box .content{
            background-color: hsl(210, 16%, 50%);
            position: fixed;
            left: 51vw;
            top: 50vh;
            padding: 10px;
            border-radius: 10px;
            transform: translate(-50%, -50%);
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease, opacity 1s ease, height 2s ease;
            opacity: 0;
            z-index: 10;
        }
        
        .hover-box:hover .content, .hover-box .content:hover{
            max-height: 700px;
            width: 725px;
            height: 700px;
            opacity: 1;
            pointer-events: auto;
        }

        footer{
            position: fixed;
            bottom: 0vh;
            right: 0vw;
            background-color: hsl(180, 61%, 23%);
        }